In [7]:

import pandas as pd

In [8]:
#dataset.iloc[gets all rows , gets last column of data].get its values

In [9]:
dataset = pd.read_csv('Data1.csv')
X = dataset.iloc[:,-1].values

In [10]:
dataset

    Product ID  Product Price
0            1            161
1            2            124
2            3            142
3            4             64
4            5             37
5            6             86
6            7            171
7            8             10
8            9            122
9           10             41
10          11             49
11          12             81
12          13            183
13          14             39
14          15            125
15          16             18
16          17            192
17          18             61
18          19            107
19          20             60
20          21             47
21          22              8
22          23             16
23          24            187
24          25            145
25          26            127
26          27            145
27          28            110
28          29             16
29          30            119

In [11]:
print(X)

[161 124 142  64  37  86 171  10 122  41  49  81 183  39 125  18 192  61
 107  60  47   8  16 187 145 127 145 110  16 119]

In [12]:
print("Average price is: ")
sum(X)/len(X)

Average price is:

93.1